@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;




// CUSTOM STYLING

@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Open+Sans+Condensed:300');

// font-family: 'Mr Dafoe', cursive;
// font-family: 'Open Sans Condensed', sans-serif;

$light-gray: hsl(0,0%,75%);
$medium-gray: hsl(0,0%,50%);
$dark-gray: hsl(0,0%,25%);

$light-color: hsl(170,30%,75%);
$medium-color: hsl(170,30%,50%);
$dark-color: hsl(170,30%,25%);

$base-text-color: $medium-gray;
$top-background-color: rgba($light-color, 0.25);
$montse-logo-color: $dark-color;
$natura-logo-color: $light-color;
$product-circle-color: hsl(20,100%,75%);
$product-title-color: $dark-gray;
$next-background-color: rgba($light-color, 0.25);
$next-text-color: $dark-gray;
$montse-name-color: $dark-gray;
$whatsapp-color: hsl(127,56%,56%);





.card {
	font-family: 'Open Sans Condensed', sans-serif;
	position: relative;
	min-height: 100vh;
	margin-bottom: 0;
	border-width: 0;
	color: $base-text-color;

	font-size: 10px;
    @include breakpoint(400px) {
		font-size: 13px;
    }
    @include breakpoint(500px) {
		font-size: 16px;
    }

	& + .card {
		// background: linear-gradient(#fafafa, #fff);	
		border-width: 1px 0 0 0;
	}

	&.contact {
		color: $montse-name-color;
		font-size: 1em;
		// min-height: auto;
		// padding: 2em 0;

		.name {
			font-size: 2em;
			color: inherit;
		}

		a {
			font-size: 1.5em;
			color: inherit;
		}

		svg#WhatsAppLogo {
		    display: inline;
		    width: 1em;
		    position: relative;
		    top: 0.125em;
		    fill: $whatsapp-color; // brand green
		}

	}

	#top {
		position: absolute;
		top: -7em;
		left: 0;
		z-index: 0;
		width: 100%;
		height: auto;
		.fill-color {
			fill: $top-background-color;
		}
	}

	.grid-y.grid-frame {
		height: auto;
		min-height: 100vh;
		padding: 5em 0;
	}

    .montse {
		font-size: 4.5em;
		padding-top: 2em;
		font-family: 'Mr Dafoe', cursive;
		color: $montse-logo-color;
    }

    #natura_logo {
		width: 50%;
		max-width: 200px;
		margin: 0 auto;
		fill: $natura-logo-color;
    }

	.image {
		.circle {
			height: 50vh;
			width: 50vh;
			border-radius: 1000px;			
			background-color: $product-circle-color; // random
			// background: linear-gradient(#fff, #f3f3f3);	
			padding: 1.5rem;
			position: relative;
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 90%;
			max-width: 90%
		}
	}
	
	.title {
		padding: 1em 0 0.875em;
		font-size: 3em;
		line-height: 1;
		color: $product-title-color;
	}
	
	.details {
		font-size: 1.8em;
	}

	.spacer {
		height: 3em;
	}

	.next {
		position: absolute;
		bottom: 0;
		right: 0;
		height: auto;
		width: 25vw;
		text-align: center;
		font-size: 1.25em;
		padding: 1em 2em;
		background-color: $next-background-color;
		color: $next-text-color;

	}

}

